.title {
    margin:0;
    display: grid;
    height: 100%;
    padding:0;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    padding:0;
    font-family: Ink Free, MV Boil, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 5vw;
}

.JunkTab {
    padding:3%;
    text-align: center;
}

.ListTab {
    padding:0;
    margin:0;
    display:inline-block;
}

.image {
    display:inline-block;
    width:30vw;
    vertical-align:top;
    height:30vw;
    padding-left: 20%;
}
.textJunkSideTab {
    font-family: Ink Free, MV Boil, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2vw;
}

.textJunkListTitle {
    font-family: Ink Free, MV Boil, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 3vw;
}

.junkItemInputText {
    font-family: Ink Free, MV Boil, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 3vw;
}