body{
    background-image: url('back.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.topLinks{
    padding:0;
    margin:0;
    align-items: center;
    justify-content: center;
    background-color:gray;
    display: flex;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    font-size: 3vw;
}

.aboutMe{
    padding-right:20vw;
    margin:0;
    background-color:gray;
}

.github{
    padding:0;
    margin:0;
    background-color:gray;
}
.sources{
    padding:0;
    padding-left: 20vw;
    margin:0;
    background-color:gray;
}

.title {
    display: grid;
    background-color:gray;
    border: 20px solid gray;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    padding:0;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    font-size: 5vw;
}

.JunkTab {
    padding:3%;
    text-align: center;
}

.ListTab {
    display:inline-block;
    background-color:gray;
    border-style: groove;
    border-width: thick;
    border-radius: 5vw;
}

.image {
    display:inline-block;
    width:30vw;
    vertical-align:top;
    height:30vw;
    padding-left: 20%;
}
.textJunkListTab {
    font-family:  Arial;
    font-style: italic;
    font-weight: bold;
    font-size: 2vw;
}

.textJunkListTitle {
    font-family: Arial;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    font-size: 3vw;
}

.junkItemInputText {
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    font-size: 3vw;
}